<!DOCTYPE html>
<html>

  <!--header-->
  <%-include('layouts/headerLayout'); -%>

<body>

  <!-- Navigation-->
  <%- include('layouts/navLayout'); -%>

  <div class="py-4 bg-light">
    <div class="container">
        
        <!--content-->
        <%- include('layouts/gameLayout') -%>         
        
    </div>
  </div>
  
  <!--footer-->
  <%- include('layouts/footerLayout'); -%> 

  <!--script-->
  <%- include('layouts/scriptLayout'); -%>
</body>

</html>